extends layout
block content
    div(class="block")
        h2 This is a block!
        p This is smaller text lorem impsum ayy lmao boi ayy lmao boi lorem lorem ipsuuuuuuuum   
    div(class="block")
        img(src="img/really_cool_image.jpg")
        p Oh look, an awesome image!