html(lang="en")
    head
        link(rel='stylesheet', href='css/style.css')
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Bildterapihuset
    body
        div(id="burger")
            span.link Startsida 
            span.link Aktuellt   
            span.link Vi Bildterapeuter
            span.link Resurser och länkar
            span.link Kontakt
        div#burger
            img#logo(src="img/logo.png", alt="")
            img#burger-button(src="img/burger.png", alt="", onclick="toggle_burger()")
        div#wrap
            block content

        script(src="js/code.js")